@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Outfit', sans-serif;
 
    
}
body {
    background-color: #d5e1ef;
}
.mainContainer {
    background-color: #ffffff;
    margin: auto;
    border-radius: 20px;
    
}
.image{
    width: 300px;
    padding: 20px;
}
img {
    /* height: 300px; */
    width: 300px;
    border-radius: 20px;
}
.header {
    width: 300px;
    background-color: aqua;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.text {
    width: 300px;
    background-color: blue;
    padding: 20px;
    align-items: center;
    text-align: center;
}
